{% extends 'app/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    {% if title %}
        <h2>{{ title }}</h2>
    {% endif %}

    {% block form %}

        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if errors %}
                    <div class="alert alert-danger" role="alert">{{ errors }}</div>
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button class="btn btn-success">{{ button_name }}</button>
                </form>
            </div>
        </div>
    {% endblock %}

{% endblock %}
