{% extends 'app/base.html' %}

{% block content %}
    <h4 class="display-4 text-center">
        Бот {{ bot_name }}
    </h4>
    <h4 class="text-center">
        График повторения слов
    </h4>
    <br>
    <br>

    <div>
        <div class="row">
            <table class="table col-md-6 offset-md-3">
                <thead>
                <tr>
                    <th style="border-top: 0">Повторение</th>
                    <th style="border-top: 0">Через время</th>
                </tr>
                </thead>
                <tbody>
                    {% for number, repetition_time in repetition_times.items %}
                        <tr>
                            <td>{{ number }}</td>
                            <td>{{ repetition_time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
    </div>
{% endblock %}
