{% extends 'app/base.html' %}

{% block content %}

    {% if user %}
        <h2>Ваши слова!</h2>

        <br>
        <a href="{% url 'create_words' %}" class="btn btn-success">Добавить слова</a>
        <br>
        <br>
    {% else %}
        <h2>Общие слова!</h2>
        <br>
        <div>
            Вы можете войти в систему и добавить себе слов)
        </div>
    {% endif %}

    <ul class="list-group">
        <li class="list-group-item font-weight-bold list-group-item-secondary">
            <span>Слово - перевод</span>
            <span class="float-right">
                Дата создания
            </span>
        </li>
        {% for word in object_list %}
            <li class="list-group-item">
                <span>{{ word }}</span>
                <span class="float-right">
                    {{ word.date_created }}
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
