[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=sammy
Group=www-data
WorkingDirectory=/home/nicking/wordknow/wordknow
ExecStart=gunicorn --access-logfile - --workers 3 --bind unix:/home/nicking/wordknow/wordknow/app.sock project.wsgi:application

[Install]
WantedBy=multi-user.target
